* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
.app-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.customer-list {
    width: 30%;
    overflow-y: auto;
    border-right: 1px solid #ccc;
    padding: 10px;
    background-color: #000000;
}
.details-with-sidebar {
    width: 70%;
}
.details-full-width {
    width: 100%;
}
.toggle-button {
    position: fixed; 
    top: 0px;
    z-index: 1000; 
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    border-radius:0 0 5px 5px;
    cursor: pointer;
    visibility: hidden;
}
.no-scroll {
    overflow: hidden;
}
::-webkit-scrollbar {
    width: 10px; 
    height: 10px; 
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background-color: #000000; 
    border-radius: 10px;
    border: 2px solid #f1f1f1; 
}

@media (max-width: 950px) {
    .customer-list {
        position: absolute;
        top: 0;  
        bottom: 0; 
        left: 0;
        width: 50%; 
        z-index: 2; 
        overflow-y: auto; 
    }
    .app-container {
        display: block;
        margin-top: 25px;
    }
    .details-with-sidebar {
        width: 100%;
    }
    .toggle-button{
        width: 100px;
        visibility: visible;
    }
}



